<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Gift
  </h2>
  <form class="edit-gift-form">
    <div>
      <input name="recipient" type="text" value="{{gift.recipient}}" />
      <input name="gift-name" type="text" value="{{gift.gift_name}}" />
      <input name="occasion" type="text" value="{{gift.occasion}}" />
    </div>
    <div>
      <a href="/gift/{{gift.id}}">{{gift.length}}</a>
    </div>
    <button type="submit">Save gift</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>